<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="connection.username">hibernateuser</property>
        <property name="connection.password">Password@123</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="com.hibernate.handson.Student"/>
        <mapping class="com.hibernate.handson.Address"/>
        <mapping class="com.hibernate.handson.embeddable_annotation.Student"/>
        <mapping class="com.hibernate.handson.embeddable_annotation.Certificate"/>
        <mapping class="com.hibernate.handson.one_to_one.Question"/>
        <mapping class="com.hibernate.handson.one_to_one.Answer"/>
        <mapping class="com.hibernate.handson.one_to_many.QuestionOtoM"/>
        <mapping class="com.hibernate.handson.one_to_many.AnswerOtoM"/>
        <mapping class="com.hibernate.handson.many_to_many.Employee"/>
        <mapping class="com.hibernate.handson.many_to_many.Project"/>
    </session-factory>
</hibernate-configuration>1